$primary-font: "Arial", sans-serif;
$primary-color: #333;
$table-border-color: #ccc;
$table-header-bg: #f0f0f0;
$button-bg: #dc3545;
$button-hover-bg: #c82333;
$row-hover-bg: #f5f5f5;

@mixin tableStyles {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: $primary-font;

  th,
  td {
    border: 1px solid $table-border-color;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: $table-header-bg;
  }

  button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: $button-bg;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-bg;
    }
  }

  tr:hover {
    background-color: $row-hover-bg;
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 5px;
    }

    td:last-child {
      border-bottom-right-radius: 5px;
    }
  }
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: $primary-font;
}

p {
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 20px;
  text-align: center;
  font-family: $primary-font;
}

table {
  @include tableStyles;
}
