<h3>Detalji favorita</h3>
<p>{{poruka}}</p>
<table *ngIf="favorit != undefined">
  <tr>
    <th>ID</th>
    <th>Naziv</th>
    <th>Org. naziv</th>
    <th>Opis</th>
    <th>Tip</th>
    <th>Jezik</th>
    <th>Broj sezona</th>
    <th>Broj epizoda</th>
    <th>Popularnost</th>
    <th>Poster</th>
    <th>Ocjena</th>
    <th>Broj glasova</th>
  </tr>
  <tr>
    <td>{{favorit.tmdb_id}}</td>
    <td>{{favorit.naziv}}</td>
    <td>{{favorit.originalno_ime}}</td>
    <td>{{favorit.opis}}</td>
    <td>{{favorit.tip}}</td>
    <td>{{favorit.originalni_jezik}}</td>
    <td>{{favorit.br_sezona}}</td>
    <td>{{favorit.br_epizoda}}</td>
    <td>{{favorit.popularnost}}</td>
    <td><img src="{{slikaUrl + favorit.slika}}" height="300" width="200"></td>
    <td>{{favorit.prosjecno_glasovi}}</td>
    <td>{{favorit.broj_glasova}}</td>
  </tr>
</table>
<table *ngIf="favorit?.sezone != undefined">
  <tr>
    <th>ID</th>
    <th>ID serije</th>
    <th>Br. sezone</th>
    <th>Br. epizoda</th>
    <th>Naziv</th>
    <th>Opis</th>
    <th>Poster</th>
    <th>Ocjena</th>
  </tr>
  <tr *ngFor="let s of favorit?.sezone">
    <td>{{s.tmdb_id}}</td>
    <td>{{s.serija_tmdb_id}}</td>
    <td>{{s.br_sezone}}</td>
    <td>{{s.br_epizoda}}</td>
    <td>{{s.naziv}}</td>
    <td>{{s.opis}}</td>
    <td><img src="{{slikaUrl + s.slika}}" height="300" width="200"></td>
    <td>{{s.prosjecno_glasovi}}</td>
  </tr>
</table>
<table *ngIf="favoritgithub != undefined">
  <tr>
    <th>ID</th>
    <th>Naziv</th>
    <th>Org. naziv</th>
    <th>Opis</th>
    <th>Jezik</th>
    <th>Broj sezona</th>
    <th>Broj epizoda</th>
    <th>Popularnost</th>
    <th>Poster</th>
    <th>Ocjena</th>
    <th>Broj glasova</th>
  </tr>
  <tr>
    <td>{{favoritgithub.id}}</td>
    <td>{{favoritgithub.name}}</td>
    <td>{{favoritgithub.original_name}}</td>
    <td>{{favoritgithub.overview}}</td>
    <td>{{favoritgithub.original_language}}</td>
    <td>{{favoritgithub.number_of_seasons}}</td>
    <td>{{favoritgithub.number_of_episodes}}</td>
    <td>{{favoritgithub.popularity}}</td>
    <td><img src="{{slikaUrl + favoritgithub.poster_path}}" height="300" width="200"></td>
    <td>{{favoritgithub.vote_average}}</td>
    <td>{{favoritgithub.vote_count}}</td>
  </tr>
</table>
<table *ngIf="favoritgithub?.seasons != undefined">
  <tr>
    <th>ID</th>
    <th>ID serije</th>
    <th>Br. sezone</th>
    <th>Br. epizoda</th>
    <th>Naziv</th>
    <th>Opis</th>
    <th>Poster</th>
    <th>Ocjena</th>
  </tr>
  <tr *ngFor="let s of favoritgithub?.seasons">
    <td>{{s.id}}</td>
    <td>{{favoritgithub?.id}}</td>
    <td>{{s.season_number}}</td>
    <td>{{s.episode_count}}</td>
    <td>{{s.name}}</td>
    <td>{{s.overview}}</td>
    <td><img src="{{slikaUrl + s.poster_path}}" height="300" width="200"></td>
    <td>{{s.vote_average}}</td>
  </tr>
</table>