<h3>Dokumentacija</h3>
<img [src]="restServis+'dokumentacijafolder/autor.jpeg'" alt="Autor" width="200">
<ul>
  <li>Dominik Josipović</li>
  <li>djosipovi21&#64;foi.hr</li>
  <li>Ime: Dominik</li>
</ul>
<a [href]="restServis+'dokumentacijafolder/model_baze_dominik_josipovic.png'">
  <img [src]="restServis+'dokumentacijafolder/model_baze_dominik_josipovic.png'" alt="Model baze podataka" width="500">
</a>
<table>
  <thead>
    <tr>
      <th scope="row">Resurs<br>Parametri</th>
      <th scope="row">GET<br>čitanje</th>
      <th scope="row">POST<br>kreiranje</th>
      <th scope="row">PUT<br>ažuriranje</th>
      <th scope="row">DELETE<br>brisanje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>baza/korisnici</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>baza/korisnici/korime</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>baza/korisnici/korime/prijava</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>baza/favoriti</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>baza/favoriti/id</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>baza/dnevnik</td>
      <td>nije napravljeno</td>
      <td>nije napravljeno</td>
      <td>nije napravljeno</td>
      <td>nije napravljeno</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th scope="row">Uloga</th>
      <th scope="row">Stranica/e</th>
      <th scope="row">Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Korisnik</td>
      <td>Početna</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>SerijaDetalji</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>Dokumentacija</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>Prijava, Odjava</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>Profil</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>Favoriti</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Korisnik</td>
      <td>FavoritDetalji</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>Registracija</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>Korisnici</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>Dnevnik</td>
      <td>nije napravljeno</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th scope="row">Br.</th>
      <th scope="row">Zadatak</th>
      <th scope="row">Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.</td>
      <td>Na stranicu dokumentacija ažurirati tablice iz prve zadaće oko informacija koji dijelovi su
        napravljeni za servis odnosno aplikaciju. Ako je nešto napravljeno dijelomično treba to jasno
        napisati koji dio je napravljen. Ako ovog dijela nema bodovi vezani uz web aplikaciju i/ili web
        servis nose 0 bodova.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Na stranicu dokumentacija kreirati tablicu po koracima (počevši od zadaci općenito) ovog
        dokumenta u kojoj jasno pišu elementi opisa 2 zadaće koji su napravljeni, koji nisu. Ako ovog
        dijela nema zadaća nosi 0 bodova. Može se napraviti još jedna tablica sa dodatnim opisima ako
        se želi nešto naglasiti. Nije obavezno.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Složite package.json tako da se sa npm start može pokrenuti server i isto tako jedan
        package.json, tsconfig.json i angular.json da se može pokrenuti angular projekt.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Kod predavanja zadaće izbrisati svoje ključeve za TMDB servis iz konfiguracijske datoteke svaki
        student ubacuje svoje ključeve u konfiguracijsku datoteku kod testiranja.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Klijentski dio Web Aplikacije HTML, CSS i JS na strani klijenta prebaciti u Angular sa
        TypeScript-om.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>6.</td>
      <td>Pozadinski dio web aplikacije poslužuje kompajliranu verziju Angular aplikacije.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>7.</td>
      <td>Pozadinski dio web aplikacije poslužuje dokumentaciju - moguće je dokumentaciju ugraditi u
        samu angular aplikaciju.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>8.</td>
      <td>Pozadinski dio web aplikacije nudi podršku u obliku REST servisa. REST servis sadrži sve
        metode kako je to bilo u prvoj zadaći za rad s bazom podataka. Dodatno svi ostali pozadinski
        dijelovi prve zadaće (npr. komunikacija sa TMDB servisom) koji nemaju direktne veze s bazom
        se sada tretiraju kao proširenje REST servisa jer klijentski dio aplikacije sada mora slati sve preko
        fetch zahtjeva. Angular aplikacija nikad ne komunicira direktno sa TMDB servisom već preko
        pozadinskog dijela kao u prvoj zadaći.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>9.</td>
      <td>Sada svi pozadinski dijelovi osim inicialnog posluživanja Angular aplikacije i prijave traže
        validan JWT.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>10.</td>
      <td>Informacije o bazičnoj adresi i portu za pozadinski dio koji koristi Angular aplikacija kod slanja
        fetch zahtjeva čitaju se iz environment datoteke. Hard kodirana varijanta nosi manje bodova.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>11.</td>
      <td>Potrebno je doraditi dizajn stranice ako u prvoj zadaći niste vodili o tome previše računa. Dizajn
        treba prebaciti korištenjem Sass preprocesora u Sass ili Scss sintaksi. Čisti CSS ili bootstrap
        varijante nose 0 bodova.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>12.</td>
      <td>Dodati reCaptcha v3 sustav na minimalno 3 obrazaca od kojih su obavezni: prijava, registracija i
        ažuriranje profila.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>13.</td>
      <td>Potrebno je doraditi ažuriranje profila sa opcijom da se uključi dvorazinska autentifikacija.
        Prilikom prvog uključivanja dvorazinske autentifikacije potrebno je kreirati tajni ključ koji se
        sprema u bazu i prikazuje korisniku u tekstualnom obliku ili u obliku QR koda (za dodatne
        bodove). Korisnik može isključiti dvorazinsku autentifikaciju ili ponovo uključiti, ali više nema
        prikaza tajnog ključa.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>14.</td>
      <td>Potrebno je doraditi prijavu da se autentifikacija radi u dvije razine. Prvo korisničko ime i lozinka
        te nakon toga TOTP ako je uključena dvorazinska autentifikacija za tog korisnika.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>15.</td>
      <td>Potrebno je doraditit prijavu da omogućuje mogućnost prijave sa oAuth putem GitHub računa.
        Takav korisnik nema TOTP.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>16.</td>
      <td>Korisnik koji se prijavi preko GitHub računa ne radi ništa s bazom podatka. Kod takvog korisnika
        spremanje favorita se radi u preglednikov local storage. Jednako tako pregled favorita i
        favoritDetalji se čitaju iz local storage u pregledniku. Stranica profila nije dostupna.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>17.</td>
      <td>Inicijalno mora postojati korisnik iz svake uloge koji nema TOTP i treba navesti podatke na
        stranici prijava radi lakšeg testiranja.</td>
      <td>napravljeno</td>
    </tr>
    <tr>
      <td>18.</td>
      <td>Za dodatne bodove može se prebaciti cijeli pozadinski dio u TypeScript. Kod pokretanja sa npm
        start obavezno se mora napraviti recompile TypeScript-a i kopiranje svih bitnih statičnih sadržaja
        da aplikacija normalno radi.</td>
      <td>NIJE napravljeno</td>
    </tr>
  </tbody>
</table>